html {
    min-width: 250px;
    background-color: #D8EC14;
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.hidden {
    display: none;
}
.song {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.song-name {
    font-weight: bold;
    margin: 10px;
}
.swears {
    display: flex;
}
.swears img {
    height: 25px;
    margin: 5px;
}

input[type=checkbox] {
    flex: 0 0 auto;
}
button {
    margin: 7px;
}